<% if flash[:notice] %>
  <h6><%= flash[:notice] %></h6>
<% end %>

<div class="container">
	<div clsss="row">

		<div class="row">
			<div class="col-xs-6 center-block center-block">
				<h1>Welcome to <span class="glyphicon glyphicon-book"></span> Bookers !!</h1>

				<h5>
				<p>In <span class="glyphicon glyphicon-book"></span> Bookers,</p>
				<p>you can share and exchange your opinions , inpressions , and emotions</p>
				<p>about various books!</p>
				</h5>
			</div>
		</div>

			<%= link_to "Log In", "/users/sign_in", class:"btn btn-primary margin-area" %>
			<%= link_to "Sign up", "/users/sign_up", class:"btn btn-success margin-area" %>

	</div>
</div>